<!-- 
  Component Selectors
  
  After creating a component, it can be used in HTML using the component's selector

  Consider the below code:

  <app-header></app-header>

  The header component specifies the selector's name which is used to display
  it in the HTML.

  @Component({
    selector: 'app-header', <---------------- selector
    templateUrl: './header.component.html',
    styleUrls: ['./header.component.scss']
  })
 -->
<div class="app-wrapper">
  <header>
    <app-header></app-header>
  </header>
  <main>
    <!-- 
      Router Outlet   

      Router outlet is used to route users to different areas of the application without
      triggering a reload. The routing behavior is defined within the 'app-routing-module'
      file (the file right above this template) 

      - See Router Outlet: https://angular.io/api/router/RouterOutlet#description
    -->
    <router-outlet></router-outlet>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
